<div class="login_page_container">
    <div class="login_page_wrapper">

        <div class="md-card" id="login_card">
            <div class="md-card-content header-login">
                <!--<img src="assets/img/background/logo-iserve-white2.png" width="50%" height="auto"/>-->
                <b><p style="font-size: 20px">Admin AGIT Solution Day</p></b>
                <div ng-show="false" style="margin-top:10px;">iServe Mobile Attendance</div>
            </div>
            <div class="md-card-content large-padding" id="login_form" ng-controller="newnetaLoginCtrl">
                <form>

                    <div class="uk-form-row">
                        <table style="width: 100%;">
                            <tr>
                                <td width="10%"><i class="uk-icon-user uk-icon-small" style="color: #F39C12"></i></td>
                                <td width="90%"><label for="login_username">Email</label>
                                    <input class="md-input" type="text" id="login_username" ng-model="login_username"
                                           md-input/></td>
                            </tr>

                        </table>
                    </div>
                    <div class="uk-form-row">
                        <table style="width: 100%;">
                            <tr>
                                <td width="10%"><i class="uk-icon-lock uk-icon-small" style="color: #F39C12"></i></td>
                                <td width="90%">
                                    <label for="login_password">Password</label>
                                    <input class="md-input" type="password" id="login_password"
                                           ng-model="login_password" md-input/>
                                </td>
                            </tr>
                            <tr>

                            </tr>
                        </table>
                    </div>
                    <div class="uk-margin-medium-top">
                        <button ng-click="loginButton()" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign
                            In
                        </button>
                        <br />
                        <!--<div class="row" style="margin-top: 25px;">-->
                            <!--<div class="col-sm-12 col-md-6 col-lg-6" align="center">-->
                                <!--<a ui-sref="register" class="link-digi">Registration</a>-->
                            <!--</div>-->
                            <!--<div class="col-sm-12 col-md-6 col-lg-6" align="center">-->
                                <!--<a ui-sref="activation" class="link-digi">Activation</a>-->
                            <!--</div>-->

                        <!--</div>-->


                        <!--<a ng-click="loginButton" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign In</a>-->
                        <!--<a ui-sref="newneta.dashboard1" class="md-btn md-btn-primary md-btn-block md-btn-large">Sign In</a>-->
                    </div>
                </form>
            </div>
        </div>

        <div style="text-align: center; margin-top: 25px; font-size: small; width: 100%;" ng-show="false">

            <h3><b>Powered By</b></h3>

            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="../assets/img/background/iserve_color.png" style="width: 100%; height: auto;"/>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4">
                    <img src="../assets/img/background/digiforce-orig.png" style="width: 100%; height: auto;"/>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>

            </div>

        </div>

        <!--<h1><a href="https://imgs.xkcd.com/comics/random_number.png">// guaranteed to be random</a></h1>-->
        <!--<label for="pause">Pause: </label><input id="pause" type="checkbox" />-->
        <!--<div>-->
            <!--<div id="tes">220453386475668369126874203127722456847118518118905049373063640445614984272665739406245400974402082908210402446817910019961841220966268695509083924551702897199045677643021929965748824550251725709767717047663154169322883122638800682673526663456697904317695347748041774350911325407657575706056671092101</div>-->
        <!--</div>-->

    </div>
</div>