<div class="md-card">
    <div class="md-card-content">
        <a href=""><i class="md-icon material-icons uk-text-primary" ng-click="exit_file_queue_detail()">keyboard_arrow_left</i></a>
    </div>
    <div class="md-card-content" ng-if="data_action == 'waiting'">
        <div class="uk-overflow-container uk-margin-bottom">
            <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                <thead>
                <tr>
                    <th data-priority="1" width="10%">ID</th>
                    <th data-priority="2" width="80%">Filenames</th>
                    <th data-priority="3" width="10%">Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th width="10%">ID</th>
                    <th width="80%">Filenames</th>
                    <th width="10%">Action</th>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="item in dataListWaiting" on-last-repeat>
                    <td width="10%">{{$index+1}}</td>
                    <td width="80%">{{item.filenameInput}}</td>
                    <td width="10%"><a href=""><i class="md-icon material-icons" ng-click="submit_file_queue_detail_info(item.filenameInput)">&#xE88F;</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ts_pager">
            <ul class="uk-pagination ts_pager">
                <li data-uk-tooltip title="Select Page">
                    <select class="ts_gotoPage ts_selectize"></select>
                </li>
                <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                <li><span class="pagedisplay"></span></li>
                <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                <li data-uk-tooltip title="Page Size">
                    <select class="pagesize ts_selectize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-card-content" ng-if="data_action == 'finished'">
        <div class="uk-overflow-container uk-margin-bottom">
            <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                <thead>
                <tr>
                    <th data-priority="1" width="10%">ID</th>
                    <th data-priority="2" width="80%">Filenames</th>
                    <th data-priority="3" width="10%">Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th width="10%">ID</th>
                    <th width="80%">Filenames</th>
                    <th width="10%">Action</th>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="item in dataListFinishing" on-last-repeat>
                    <td width="10%">{{$index+1}}</td>
                    <td width="80%">{{item.filenameInput}}</td>
                    <td width="10%"><a href=""><i class="md-icon material-icons" ng-click="submit_file_queue_detail_info(item.filenameInput)">&#xE88F;</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ts_pager">
            <ul class="uk-pagination ts_pager">
                <li data-uk-tooltip title="Select Page">
                    <select class="ts_gotoPage ts_selectize"></select>
                </li>
                <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                <li><span class="pagedisplay"></span></li>
                <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                <li data-uk-tooltip title="Page Size">
                    <select class="pagesize ts_selectize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-card-content" ng-if="data_action == 'processing'">
        <div class="uk-overflow-container uk-margin-bottom">
            <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                <thead>
                <tr>
                    <th data-priority="1" width="10%">ID</th>
                    <th data-priority="2" width="80%">Filenames</th>
                    <th data-priority="3" width="10%">Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th width="10%">ID</th>
                    <th width="80%">Filenames</th>
                    <th width="10%">Action</th>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="item in dataListProcessing" on-last-repeat>
                    <td width="10%">{{$index+1}}</td>
                    <td width="80%">{{item.filenameInput}}</td>
                    <td width="10%"><a href=""><i class="md-icon material-icons" ng-click="submit_file_queue_detail_info(item.filenameInput)">&#xE88F;</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ts_pager">
            <ul class="uk-pagination ts_pager">
                <li data-uk-tooltip title="Select Page">
                    <select class="ts_gotoPage ts_selectize"></select>
                </li>
                <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                <li><span class="pagedisplay"></span></li>
                <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                <li data-uk-tooltip title="Page Size">
                    <select class="pagesize ts_selectize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
    <div class="md-card-content" ng-if="data_action == 'all'">
        <div class="uk-overflow-container uk-margin-bottom">
            <table class="uk-table uk-table-align-vertical uk-table-nowrap tablesorter tablesorter-altair" id="ts_pager_filter">
                <thead>
                <tr>
                    <th data-priority="1" width="10%">ID</th>
                    <th data-priority="2" width="80%">Filenames</th>
                    <th data-priority="3" width="10%">Action</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th width="10%">ID</th>
                    <th width="80%">Filenames</th>
                    <th width="10%">Action</th>
                </tr>
                </tfoot>
                <tbody>
                <tr ng-repeat="item in dataListAll" on-last-repeat>
                    <td width="10%">{{$index+1}}</td>
                    <td width="80%">{{item.filenameInput}}</td>
                    <td width="10%"><a href=""><i class="md-icon material-icons" ng-click="submit_file_queue_detail_info(item.filenameInput)">&#xE88F;</i></a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ts_pager">
            <ul class="uk-pagination ts_pager">
                <li data-uk-tooltip title="Select Page">
                    <select class="ts_gotoPage ts_selectize"></select>
                </li>
                <li class="first"><a href="javascript:void(0)"><i class="uk-icon-angle-double-left"></i></a></li>
                <li class="prev"><a href="javascript:void(0)"><i class="uk-icon-angle-left"></i></a></li>
                <li><span class="pagedisplay"></span></li>
                <li class="next"><a href="javascript:void(0)"><i class="uk-icon-angle-right"></i></a></li>
                <li class="last"><a href="javascript:void(0)"><i class="uk-icon-angle-double-right"></i></a></li>
                <li data-uk-tooltip title="Page Size">
                    <select class="pagesize ts_selectize">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                    </select>
                </li>
            </ul>
        </div>
    </div>
</div>
